body{
 background:url(https://www.picclickimg.com/d/w1600/pict/282889272227_/Dragon-Ball-Super-Poster-Goku-Ultra-Instinct-VS.jpg);
 background-repeat: no-repeat;
 background-size:1900px;
}

h1{
  color:crimson;
}

h2{
  color:Purple;
}

h3{
  color:green;
}

