body{
  background:url(https://img.purch.com/o/aHR0cDovL3d3dy5uZXdzYXJhbWEuY29tL2ltYWdlcy9pLzAwMC8yMzMvNjA4L2kwMi9mTEFTSDUxLmpwZWc=);
  background-repeat:no-repeat;
  background-size:2000px 2000px;
}
